<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.nasa.utils.config.CustomisedReport"/>
    </listeners>
    <test name="Listeners_program">
        <groups>
            <run>
                <include name="Regression"></include>
            </run>
        </groups>
        <classes>
            <class name="com.nasa.test.CuriosityTest"></class>
        </classes>
    </test>
</suite>
        <!-- Suite -->  